<table>
    <tr>
        <td>Width:</td>
        <td><input type="text" ng-model="scc.form.width"></td>
    </tr>
    <tr>
        <td>Height</td>
        <td><input type="text" ng-model="scc.form.height"></td>
    </tr>
    <tr>
        <td>Diagonal</td>
        <td><input type="text" ng-model="scc.form.diagonal"></td>
    </tr>
    <tr>
        <td>Ratio</td>
        <td><select name="ratio" id="ratio" ng-model="scc.form.ratio">
            <option value="1.33333">4:3</option>
            <option value="1.77778">16:9</option>
            <option value="2.4">21:9</option>
        </select></td>
    </tr>
</table>
<div>&nbsp;</div>
<button ng-click="scc.calculate()">Calculate</button>